@{
    ViewBag.Title = "Home Page";
}


<h1>Hello World</h1>
<p>This is gonna be sweet</p>
<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>